/**
 * Copyright © 2016 Mozg. All rights reserved.
 * See LICENSE.txt for license details.
 */

.mozg-method-mozg-itau-cc > .entry-edit-head > .config-heading .heading strong { padding-left:90px;background:url(images/mozg-logo.png) no-repeat 0 0;  background-size: 83px 24px;line-height: 23px;}
ul.mozg-list { margin:0 20px 10px;}